@import "var"
@import "pages/all"

body
  background-color: $background

  font-family: Calibri, serif
  color: $text

  header
    background-color: $dark-background
    color: $text

  footer
    background-color: $dark-background
    color: $text