.endStat-normal-page {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  padding: 1em;
  background-color: #36393f;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.endStat-normal-page img {
  height: 200px;
}
.endStat-normal-page p {
  color: #b9bbbe;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 0;
}

.endStat-admin-page {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  padding: 1em;
  background-color: #36393f;
  border-radius: 5px;
}
.endStat-admin-page .endStat-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.endStat-admin-page .endStat-form .title {
  color: #f8f8ff;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 2em;
}

.role-page {
  width: 70%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  background-color: #36393f;
  border-radius: 5px;
}
.role-page .role-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}
.role-page .role-header .role-header-img {
  height: 500px;
  width: auto;
  max-width: 70%;
}
.role-page .role-header .role-header-text {
  margin-left: 5em;
  padding-top: 2em;
}
.role-page .role-header .role-header-text .role-header-text-title {
  margin-bottom: 10px;
  color: #f8f8ff;
  font-weight: bold;
  font-size: 60px;
}
.role-page .role-header .role-header-text .role-header-text-subtitle {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
}
.role-page .role-description {
  background-color: #40444b;
  border-radius: 5px;
  padding: 1em;
}
.role-page .role-description p {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}
.role-page .role-end-game {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.lobby-page {
  background-color: #36393f;
  border-radius: 5px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  padding: 1em;
}
.lobby-page .title {
  margin: 0;
  margin-bottom: 1em;
  color: #f8f8ff;
  font-size: 1.5em;
  font-weight: bold;
}
.lobby-page .user-list .user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #40444b;
  border-radius: 5px;
  margin: 0.5em 0;
}
.lobby-page .user-list .user .admin {
  height: 19px;
  width: 15px;
  margin: 0.5em;
}
.lobby-page .user-list .user .nickname {
  margin: 0.5em;
  min-width: 150px;
}
.lobby-page .user-list .user .points {
  margin: 0.5em;
}
.lobby-page .user-list .user .button.cancel {
  border-radius: 3px;
  margin: 4px;
  margin-left: 1em;
  padding: 4px 12px;
}
.lobby-page .user-list .user.you {
  font-weight: bold;
}
.lobby-page .game {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.login-page {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14%;
  margin-bottom: 2%;
  padding: 1em;
  border-radius: 5px;
  background-color: #36393f;
}
.login-page .form {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}
.login-page .form .title {
  margin: 0;
  margin-bottom: 1em;
  color: #f8f8ff;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.login-page .form .button {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-family: "Microsoft Sans Serif", serif;
  border: unset;
  cursor: pointer;
  padding: 0.5em 1em;
  color: #f8f8ff;
  background-color: #5865f2;
  border-radius: 5px;
  transition-duration: 0.3s;
  font-size: 1em;
  text-decoration: unset;
}

.button:hover {
  background-color: #4752c4;
}

.button.cancel {
  background-color: #d83c3e;
}

.button.cancel:hover {
  background-color: #a12d2f;
}

.button:disabled {
  cursor: initial;
  background-color: #2f3136;
  color: #b9bbbe;
}

.button:disabled:hover {
  background-color: #2f3136;
}

footer {
  background-color: #202225;
  position: absolute;
  width: 100%;
  bottom: 0;
}
footer p {
  margin: 1em;
  font-size: 1em;
}
footer .footer-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 51px;
  width: auto;
}

header {
  background-color: #202225;
  position: absolute;
  width: 100%;
  top: 0;
}

.highlight {
  color: #faa81a;
  background-color: #49443c;
  padding: 0 0.5em;
}

.input-select-label {
  width: 250px;
  margin-bottom: 3px;
}

.input-select {
  width: 250px;
  margin-bottom: 1em;
  padding: 3px;
  background-color: #40444b;
  color: #b9bbbe;
  font-size: 1em;
  line-height: 20px;
  border-radius: 5px;
}

.input-text-label {
  width: 250px;
  margin-bottom: 3px;
}

.input-text {
  width: 250px;
  margin-bottom: 1em;
  padding: 3px;
  color: #2f3136;
  font-size: 1em;
  line-height: 20px;
  border-radius: 5px;
}

.page-header {
  background-color: #202225;
  margin-top: -1em;
  margin-left: -1em;
  margin-right: -1em;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.page-header .link-to-copy {
  margin-left: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #36393f;
  border-radius: 5px;
}
.page-header .link-to-copy p {
  margin: 0;
  padding: 0.5em;
}
.page-header .link-to-copy .button {
  border-radius: unset;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

body {
  font-family: "Microsoft Sans Serif", serif;
  margin: 0;
  padding: 0;
  color: #b9bbbe;
}
body .body {
  background-color: #2f3136;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 1em;
  font-size: 1em;
}

/*# sourceMappingURL=style.css.map */
